* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: #36384d;
}

.container,
.success {
background: white;
border-radius: 25px;
padding: 25px;
}

.container {
display: flex;
max-width: 900px;
gap: 20px;
}

.content {
padding: 40px;
width: 50%;
}

h1 {
font-size: 48px;
margin-bottom: 20px;
}

p {
margin-bottom: 20px;
color: #36384d;
}

ul {
list-style: none;
margin-bottom: 30px;
}

li {
margin-bottom: 15px;
display: flex;
align-items: center;
gap: 10px;
}

li::before {
content: "";
width: 21px;
height: 21px;
background-image: url("./assets/images/icon-list.svg");
}


.label-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
font-size: 14px;
font-weight: bold;
}

#error-msg {
color: red;
}

input {
width: 100%;
padding: 15px;
border-radius: 8px;
border: 1px solid gray;
margin-bottom: 20px;
}

button {
width: 100%;
padding: 15px;
border: none;
border-radius: 8px;
background: #242742;
color: white;
cursor: pointer;
font-weight: bold;
}

button:hover {
background: #ff6155;
}

.image-box {
width: 400px;
height: 500px;
border-radius: 15px;
background-image: url("./assets/images/illustration-sign-up-desktop.svg");

background-position: center;
background-repeat: no-repeat;
}

.success {
max-width: 400px;

}

.hidden {
display: none;
}

.error {
border: 1px solid red;
background: #ffe8e6;
}

.success img {
width: 50px;
margin-bottom: 25px;
margin-left: 12px;
}