body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #cfd8ff;
    border-radius: 50%;
    animation: spin 1s;
}

@keyframes {
    to  {transform: rotate(360deg);}
}