body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    border-radius: 10px;
    
}

.container:hover .box {
    transform: rotateX(45deg) rotateY(45deg) ;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
}

body:hover {
    background-color: #34495e;
}

