body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQezi6j-e_XsHOGC2Gqiv1M3S4tn7amKZBEQA&s");
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: center;
}