* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family:Arial, Helvetica, sans-serif;
background: linear-gradient(120deg, #141e30, #243b55);
color: white;
min-height: 100vh;
}

.app-container {
width: 90%;
margin: auto;
padding: 20px;
}

.header {
text-align: center;
margin-bottom: 30px;
}

.header h1 {
font-size: 40px;
margin-bottom: 10px;
}

.subtitle {
color: #ccc;
}

.form-section {
display: flex;
justify-content: center;
margin-bottom: 40px;
}

.form-box {
background: rgba(255,255,255,0.05);
padding: 20px;
border-radius: 20px;
display: flex;
flex-direction: column;
width: 350px;
backdrop-filter: blur(10px);
}

.form-box input {
padding: 12px;
margin: 8px 0;
border-radius: 10px;
border: none;
outline: none;
font-size: 14px;
}

.form-box button {
padding: 12px;
margin-top: 10px;
border: none;
border-radius: 10px;
background: #ff4c60;
color: white;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
}

.form-box button:hover {
background: #ff1e40;
}

.library-section h2 {
text-align: center;
margin-bottom: 20px;
}

.music-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.music-card {
width: 260px;
background: #1f2a40;
border-radius: 20px;
padding: 15px;
box-shadow: 0 8px 20px rgba(0,0,0,0.5);
transition: 0.3s;
}

.music-card:hover {
transform: scale(1.05);
}

.music-card h3 {
margin-bottom: 5px;
}

.music-card p {
color: #bbb;
margin-bottom: 10px;
}

.music-card audio {
width: 100%;
margin-bottom: 10px;
}

.card-buttons {
display: flex;
justify-content: space-between;
}

.card-buttons button {
padding: 6px 10px;
border: none;
border-radius: 8px;
cursor: pointer;
}

.delete-btn {
background: crimson;
color: white;
}

.edit-btn {
background: orange;
color: white;
}
