body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eee;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    background: #1e90ff;
}

.circle:hover {
    width: 200px;
    height: 200px;
    background: #3cb0fd;
}