*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#36384d;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.card,.success{
background:#fff;
border-radius:30px;
}

.card{
display:flex;
gap:30px;
padding:25px;
max-width:900px;
}

.left{
padding:40px 20px;
}

h1{
font-size:55px;
margin-bottom:20px;
color:#242742;
}

p,li{
color:#242742;
line-height:1.6;
}

ul{
margin:25px 0;
list-style:none;
}

li{
margin:15px 0;
}


.row{
display:flex;
justify-content:space-between;
margin-bottom:8px;
font-size:12px;
font-weight:bold;
}

#error{
color:red;
display:none;
}

input,button{
width:100%;
padding:18px;
border-radius:10px;
border:none;
}

input{
border:1px solid #999;
margin-bottom:20px;
}

button{
background:#242742;
color:#fff;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:linear-gradient(to right,#ff5478,#ff693e);
}

.hero{
width:380px;
}

.success{
max-width:420px;
padding:40px;
}

.success img{
width:60px;
margin-bottom:30px;
}

.success h2{
font-size:50px;
margin-bottom:20px;
color:#242742;
}

.success p{
margin-bottom:30px;
}

.hide{
display:none;
}
