/* .box3 {
  width: 100px;
  height: 100px;
  background: blue;

  transition:
     transform 3s,   /* ბრუნვა 3 წამში */
     background 2s;  /* ფერის შეცვლა 2 წამში */
}

.box3:hover {
  transform: translateY(200px) rotate(120deg); /* მოძრაობა + ბრუნვა */
  background: orange; /* ფერი იცვლება */
} */
