.image-container {
  position: relative;
   top: 50%;
  left: 50%;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* გამჭვირვალე ბარი */
  color: white;
  padding: 10px;
}
