/* 1. background-image:
გამოიყენება საიტის ფონის გამოსახულების დასადგენად.
მაგ: background-image: url('image.jpg');

2. background-color:
განსაზღვრავს ფონის ფერს. თუ გამოსახულება არ არის, ეს ფერი იქნება ფონის.
მაგ: background-color: #ffcc00;

3. background-position:
განსაზღვრავს გამოსახულების პოზიციას.
მაგ: background-position: center; (გამოსახულება ცენტრში იქნება.)

4. background-size:
განსაზღვრავს ფონური გამოსახულების ზომას.
cover: გამოსახულება გაჭიმავს ისე, რომ ფიჭური ფართობი სრულად შეივსოს.
contain: გამოსახულება ფართობს არ გადააჭარბებს და არ გაჭიმავს ისე, რომ სრული წონასწორობა შეინარჩუნოს.

5. background-repeat:
განსაზღვრავს, თუ როგორ უნდა მეორდებოდეს ფონური გამოსახულება.
repeat: მეორდება როგორც ჰორიზონტალურად, ისე ვერტიკალურად.
no-repeat: არ მეორდება.
repeat-x: მხოლოდ ჰორიზონტალურად მეორდება.
repeat-y: მხოლოდ ვერტიკალურად.

6. background-attachment:
განსაზღვრავს ფონური გამოსახულების მიმაგრებას.
scroll: ფონური გამოსახულება გადადის გვერდის გადახვევასთან ერთად.
fixed: გამოსახულება არ მოძრაობს გვერდის გადახვევასთან ერთად.

